.container-fluid {
    padding: 0px;
    margin: 0px;
}
.container-fluid > main {
    min-height: 75vh!important;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.d-flex .w-100 img {width: 100%;}
.card a img {width: 100%;}